/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.intro {
  color: white;
  font-size: 20px;
}

nav.top-bar {
  margin: 0;
 }

#image {
  background-image: url(fort_point_sunny.jpg);
  background-size: cover;
  padding: 50px 0px 25px 50px;
}

.google {
  background-image: url(google_signin.png);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  line-height: 10px;
}

form a {
  color: white;
  position: absolute;
  left: 44px;
  font-size: 30px;
  bottom: 51px;
}

h5.subheader {
  color:blue;
}

div.feed {
  border: black 1px solid;
  background: white;
  opacity: .8;
}

div.post {
  border: black 1px solid;
  margin: 20px;
  padding: 10px;
}

.right_side_graphs{
  float: right;
  margin-right: 50px;
  margin-top: 25px;
}
.all_wave_graphs {
  float: left;
  width: 600px;
  margin-left: 50px;
  margin-top: 25px;
}

.message_feed {
  background-color: white;
  opacity: .8;
}
.messages {
  border-bottom: black solid 1px;
  padding: 10px;
}
.messages h3 {
  padding: 0;
  margin: 0;
}
p {
  font-family: Arial, Helvetica;
  font-size: 30px;
}

#a {
  margin: 0;
  padding: 0;
}
#b {
  margin: 0;
  padding: 0;
}

.small-6 h3 {
  color: white;
}
#create a, .small-12 a{
  color: white;
}

.small-6 label, #login {
  color: white;
}
.profile {
  background-color: white;
  opacity: .8;
  padding: 10px;
  
}
h3.or {
  color: black;
}
#conditions_signin.small-12.large-2.columns a {
  color: black;
}



/*div.row {
  background: url('./fort_point_sunny.jpg');
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
